<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input class="form-control" placeholder="请输入商品名称"
      [formControl]="titleFilter">
    </div>
  </div>
</div>
<div class="row">
<div  *ngFor="let product of products|filter:'title':keyword" class="col-md-4  col-sm-4  col-lg-4" style="margin-bottom: 25px">
<div class="card">
  <img class="card-img-top" src="http://placehold.it/320x150"/>
  <div class="card-block">
    <div class="card-title" style="display: flex;flex-wrap: nowrap;justify-content: space-between">
      <h4 ><a [routerLink]="['/product',product.id]">{{product.title}}</a></h4>
      <h4> {{product.price}}</h4>
    </div>
    <p class="card-text">{{product.desc}}</p>
  </div>
  <div style="padding-left: 20px">
    <ngb-rating [(rate)]="product.rating" max="5" readonly='true'></ngb-rating>
    <span>{{product.rating}}星</span>
  </div>
</div>
</div>
</div>

